youtube-transcript-api
streamlit
pandas
Pillow
nltk
requests
beautifulsoup4
praw
trafilatura
yt-dlp
srt
defusedxml
openpyxl
spacy
networkx
transformers
plotly
scikit-learn
numpy
python-louvain
google-generativeai
torch
python-dateutil
youtube-comment-downloader
importlib
